videos/
Jacinle/
ig_dataset/
SAPIEN-tutorial/
__pycache__/
results/
.idea/
magic/results/
mesh_cache/
result_*/
alignment_results/
hammer_imgs/
demo_imgs/
videos/
process_img/realsense*/
real_robot_experiments/realsense*/
real_results/
double_camera_mug/
double_camera_mug_results/
double_camera_hook/
double_camera_hook_results/
real_alignment_results/
real_robot_experiments/result/
files_to_deal_with_later/
!results/push_parameters/hook/hook_demo/push_parameter.json
eval_result*/
*.zip
imgui.ini
assets/
.ipynb_checkpoints/
